<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>🤔</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <!--link rel="stylesheet" href="../shared/style/stylesheet.css"-->
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://d3js.org/d3.v7.js"></script>
</head>
<body>

<div id="root" :class="{secondary: !encodeMode}" class="accent-bg">
    <app-header class="shadow">Алгоритм Хаффмана</app-header>

    <app-main class="shadow" back="..">

        <div class="center">
            <ui-button :secondary="!encodeMode" :on-click="switchMode" id="mode-switcher" class="shadow">
                <span v-if="encodeMode">Режим Кодирования</span>
                <span v-else>Режим Декодирования</span>
            </ui-button>
        </div>

        <div class="spaced-out3 flex">
            <ui-textarea
                    id="input-main"
                    class="shadow accent-bg"
                    dynamic-resize
                    @input="updateInput"
                    ref="textarea"
            >

            </ui-textarea>
        </div>

        <div class="spaced-out3 shadow accent-bg rounded" id="algorithm-result">
            <div v-if="this.encodeMode">
                <div class="algorithm-result-content">
                    <div>
                        {{this.encodedBuffer?.toHex()}}
                    </div>
                </div>
                <div class="center spaced-out2 copy-buttons">
                    <button-group>
                        <ui-button :on-click="() => this.copyResult('bin')">Скопировать Binary</ui-button>
                        <ui-button :on-click="() => this.copyResult('hex')">Скопировать Hex</ui-button>
                        <ui-button :on-click="() => this.copyResult('base64')">Скопировать Base64</ui-button>
                    </button-group>
                </div>
            </div>
            <div v-else>
                <div class="algorithm-result-content">
                    <div v-if="this.errorDescription !== undefined" class="error">
                        <div v-if="this.errorDescription === 'unknown-format'">
                            Этот формат не известен. Вы уверены, что вы правильно скопировали закодированный текст?
                        </div>
                        <div v-else-if="this.errorDescription === 'unsupported-version'">
                            Эта версия формата не поддерживается
                        </div>
                        <div v-else>
                            Неизвестная ошибка: {{this.errorDescription}}
                        </div>
                    </div>
                    <div v-else>
                        ok
                    </div>
                </div>
            </div>
        </div>

        <frequency-chart
                :frequencies="this.frequencies"
                class="shadow accent-bg rounded"
                :secondary="!encodeMode"
                id="frequency-chart"
        >
        </frequency-chart>

        <huffman-tree-chart
                :tree="this.tree"
                class="shadow accent-bg rounded spaced-out3"
                :secondary="!encodeMode"
                id="huffman-tree-chart"
        >

        </huffman-tree-chart>

        <ui-snackbar ref="snackbar" :type="snackbarType"></ui-snackbar>

    </app-main>
    <app-footer class="shadow"></app-footer>
</div>

<script type="module">
    import {encode, decode} from "./huffman-algorithm.js"
    import BinaryBuffer from "./binary-buffer.js"
    import BinaryScanner from "./binary-scanner.js"
    import {copyToClipboard} from "./clipboard.js"

    import("../shared/components/all.js")
        .then(() => import("./local-components.js"))
        .then(_ => new Vue({
            el: "#root",

            data: () => ({
                encodeMode: true,
                input: "",

                frequencies: [],
                tree: undefined,
                encodedBuffer: undefined,

                binaryInputScanner: undefined,
                errorDescription: undefined,

                snackbarType: "success",
            }),

            methods: {
                switchMode() {
                    this.encodeMode = !this.encodeMode
                },

                updateInput(e) {
                    this.input = e.target.innerText
                },

                doEncoding() {
                    const {frequencies, tree, result} = encode(this.input)
                    this.frequencies = frequencies
                    this.tree = tree
                    this.encodedBuffer = result
                },

                doDecoding() {

                },

                copyResult(type) {
                    const callback = ({success, error}) => {
                        if (success) {
                            this.$refs.snackbar.appear("📌 Скопировано!")
                            this.snackbarType = "success"
                        } else if (error === "unsupported") {
                            this.$refs.snackbar.appear("🤔 Браузер не поддерживает копирование, извините 😢")
                            this.snackbarType = "error"
                        } else {
                            this.$refs.snackbar.appear(`😲 Ошибка: ${error}`)
                            this.snackbarType = "error"
                        }
                    }

                    if (type === "text") {
                        copyToClipboard(this.input, callback)
                    } else if (type === "bin") {
                        copyToClipboard(this.encodedBuffer.toBin(), callback)
                    } else if (type === "hex") {
                        copyToClipboard(this.encodedBuffer.toHex(), callback)
                    } else if (type === "base64") {
                        copyToClipboard(this.encodedBuffer.toBase64(), callback)
                    } else {
                        console.error(`Unknown result type: ${type}`)
                    }
                },

                setInput(content) {
                    this.input = content
                    this.$refs.textarea.setContent(content)
                },
            },

            created() {
                this.doEncoding()
            },

            watch: {
                input() {
                    if (this.encodeMode) {
                        this.doEncoding()
                    } else {
                        this.doDecoding()
                    }
                },

                encodeMode() {
                    if (this.encodeMode) {
                        this.setInput("")
                        this.doEncoding()
                    } else {
                        this.setInput(this.encodedBuffer.toHex())
                        this.encodedBuffer = undefined
                        this.doDecoding()
                    }
                }
            }
        })).catch(e => console.error(e))
</script>

</body>
</html>
