@import "../shared/style/stylesheet.styl"

$bg-color-primary-based = lightness(saturation($primary, 20%), 92%)
$bg-color-secondary-based = lightness(saturation($secondary, 20%), 92%)
$shadow-color-primary = alpha(lightness($primary, 30%), 50%)
$shadow-color-secondary = alpha(lightness($secondary, 30%), 50%)

$transition-duration = 0.7s

#root
    &, & .accent-bg
        background-color $bg-color-primary-based
        transition background-color $transition-duration

    &.secondary, &.secondary .accent-bg
        background-color $bg-color-secondary-based

    & .shadow
        shadow($shadow-color-primary)
        transition box-shadow $transition-duration

    &.secondary .shadow
        shadow($shadow-color-secondary)

    & #mode-switcher
        transition background-color $transition-duration
        width: 20em


#input-main
    max-height 600px
    overflow-y scroll
    transition height 0.2s

#frequency-chart
    --color $primary
    --color-secondary $secondary
    & .tick > text
        font-size 14px
    & text.title
        font-size 20px

#huffman-tree-chart
    --color $primary
    --color-secondary $secondary
    --edge-color-secondary $secondary-light
    --edge-color $secondary
    & text
        font-size 30px

#algorithm-result
    overflow-wrap break-word
    word-break break-all

    & .algorithm-result-content
        padding space(2)
        max-height 400px
        overflow-y scroll

    & .copy-buttons
        padding space(2)

    & .error
        font-weight bold
        color $error
