@import "theme.styl"

.center
    display flex
    justify-content center
    align-items center
    & > *
        margin-left auto
        margin-right auto

.rounded
    border-radius 8px

.spaced-out
    margin space(1)

.hidden
    display none

.shadow
    shadow()

.glassy-bg
    background-color rgba(#FFF, 0.75)
    backdrop-filter blur(3px)

.absolute
    position absolute
    top 0
    left 0

.smaller
    font-size 14px

.lighten
    color $text-lighten

.secondary
    background-color $secondary

ul.table-of-contents
    list-style "📌"
    & > li
        font-size 24px
        font-weight bold
        margin space(2)
        & > ul
            font-weight normal
            list-style "🤔"
            font-size 18px
