.column-layout
    display flex
    & > *
        flex-grow 1
        margin space(1)

.ui-button
    &.disabled
        background-color $disabled-color
        cursor not-allowed

.ui-textarea
    @extend textarea
    resize vertical
    min-height 200px

.button-group
    @extend .rounded
    @extend .shadow
    overflow hidden
    display flex
    & > button
        margin 0
        box-shadow none
        border-radius 0
        border-left #0008 solid 1px
        &:first-child
            border-left none
