$font-stack = 'Roboto', sans-serif
$bg-color = white
$bg-color-accent = #eee
$primary = #62ddf3
$primary-light = #9affff
$primary-dark = #16abc0
$secondary = #ec407a
$secondary-light = #ff77a9
$secondary-dark = #b4004e
$text-on-p = #000000
$text-on-s = #000000

shadow()
    box-shadow 4px 4px 12px #0006

space(n)
    8px * n
